# =============================================================================
# DEPENDENCIES
# =============================================================================

node_modules

# =============================================================================
# BUILD OUTPUT
# =============================================================================

dist
*.tsbuildinfo

# =============================================================================
# TEST COVERAGE
# =============================================================================

coverage
__screenshots__

# =============================================================================
# LOCAL
# =============================================================================

*.local

# =============================================================================
# LOGS
# =============================================================================

*.log

# =============================================================================
# OS
# =============================================================================

.DS_Store
